  .Home .lander h1 {
    font-family: DejaVuSansMono,monospace,sans-serif;
    font-weight: 600;
    color: #25282c;
   
  }
  
  .Home .lander p {
    color: #25282c;
    font-family: DejaVuSansMono,monospace,sans-serif;
  }

  .Home {
    margin-top: 15px;
    text-align: center;
      padding: 80px 0;
      color: #25282c;
      font-family: DejaVuSansMono,monospace,sans-serif;
  }

  div {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }

  .query {
    color: red;
    font-family: DejaVuSansMono,monospace,sans-serif;
  }
