.Home .lander {
    padding: 85px 0;
    text-align: center;
  }
  
  .Home .lander h1 {
    font-family: DejaVuSansMono,monospace,sans-serif;
    font-weight: 600;
    color: white;
  }
  
  .Home .lander p {
    color: #999;
    color: white;
  }