

.App {
  margin-top: 18px;
  font-family: DejaVuSansMono,monospace,sans-serif;
}

.App .navbar-brand {
  font-weight: bold;
  font-family: DejaVuSansMono,monospace,sans-serif;
}

body {
  background-color: #151618;
 }

